#sidePanel.c0
  i.icon-closeIcon#close_button
  .imenu
    .icon-moments_Icon
    span.title_menu 
      a(href="/home") Inicio
  //- .imenu
  //-   .icon-conexiones_Icon
  //-   span.title_menu Conexiones 
  //-   span.prox 
  //-     | (Próximamente)
      
  .imenu
    .icon-chat_Icons
    span.title_menu 
      a(href="/chat") Chat
  .imenu
    .icon-profile_Icons
    span.title_menu 
      a(href="/profile") Perfil
  .logout
    a(href="/logout") cerrar sesión
