
<body>
  <div class="body"  ng-class="{'active': bodyMoved}">
    <header>
      <nav>
        <ul class="menu">
          <li ng-click="bodyMove()" id="menu">Menu</li>
          <li>Title</li>
          <li>
            <ul>
              <li>Notifications</li>
              <li>Add moment</li>
            </ul>
          </li>
        </ul>
        <div class="filter">
          <p>Filter</p>
          <ul>
            <li>Marketing</li>
            <li>Food</li>
            <li>Design</li>
          </ul>
        </div>
      </nav>
    </header>
    <main class="main-feed">
      <div class="moment">

      </div>
      <div class="moment">

      </div>
    </main>
  </div>
  <div class="side-bar">
    <div class="profile">
      <div class="profile-photo">

      </div>
      <div class="profile-text">
        <div class="profile-name">Luis Gómez</div>
        <div class="tags">
          <ul>
            <li>Marketing</li>
            <li>Food</li>
          </ul>
        </div>
      </div>
      <div class="view-profile">
        <p>View Profile</p>
      </div>
    </div>

    <div class="search">
      <input type="search" name="name" value="" placeholder="Search">
    </div>
    <div class="">
      <h5>Moments</h5>
      <ul>
        <li id="interests">Interests</li>
        <li id="connections">Connections</li>
      </ul>
      <h5>Projects</h5>
      <ul>
        <li>Canver</li>
        <li>Lidilic</li>
      </ul>
      <ul class="general">
        <li>Connections</li>
        <li>Another</li>
        <li>Another</li>
      </ul>
      <p>Log out</p>
    </div>

  </div>
</body>
