<nav><ul class="menu"><li ng-click="bodyMove()" id="menu"><div class=""></div><div class=""></div><div class=""></div></li><li class="title">Connections</li><li><ul class="menu-icons"><li ng-click="showNotifications()"><img src="/static/img/buttons/btn_notifications.svg" class="icon" alt=""></li><li ng-click="showCreateMoment()"><img src="/static/img/buttons/btn_create.svg" class="icon" alt=""></li></ul></li></ul><!-- <div class="filter">
      <p><img src="/static/img/buttons/btn_filter.svg" alt="" class="mini-icon" />Filter:</p>
      <ul class="tags">
        <li>Marketing</li>
        <li>Food</li>
        <li>Design</li>
      </ul>
    </div> --></nav><main class="main-feed"><div class="moment"></div><div class="moment"></div></main>