<header>
  <nav>
    <ul class="menu">
      <li ng-click="bodyMove()" id="menu"><div class=""></div><div class=""></div><div class=""></div></li>
      <li class="title">{{projectName}}</li>
      <li>
        <ul class="menu-icons">
          <li ng-click="showNotifications()"><img src="/static/img/buttons/btn_notifications.svg" class="icon" alt="" /></li>
          <li ng-click="showCreateMoment()"><img src="/static/img/buttons/btn_create.svg" class="icon" alt="" /></li>
        </ul>
      </li>
    </ul>
  </nav>
</header>
<main class="main-feed">
  <div class="user-profile project">
    <div class="user-info">
      <h1>{{projectName}}</h1>
      <p class="bio">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      <h5>Members</h5>
      <div class="members">
        <div class="member">
          <img src="/img/static/" alt="" />
          <p>Name</p>
          <p>username</p>
        </div>
        <div class="member">
          <img src="/img/static/" alt="" />
          <p>Name</p>
          <p>username</p>
        </div>
        <div class="member">
          <img src="/img/static/" alt="" />
          <p>Name</p>
          <p>username</p>
        </div>
        <div class="member">
          <img src="/img/static/" alt="" />
          <p>Name</p>
          <p>username</p>
        </div>
        <div class="member">
          <img src="/img/static/" alt="" />
          <p>Name</p>
          <p>username</p>
        </div>
        <img src="" alt="" />
      </div>
    </div>
  </div>
  <div class="moment">
    <div class="moment-text">
      <div class="user-image">
        <img src="" alt="" />
      </div>
      <div class="moment-info">
        <p class="user-name">User full name</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        <p class="question">Question here</p>
      </div>
    </div>
    <div class="moment-image">
      <img src="" alt="" />
    </div>
    <ul class="moment-tags tags">
      <li>iOS</li>
      <li>Food</li>
      <li>Design</li>
    </ul>
    <div class="feedback-count">
      <p>0 feedbacks</p>
    </div>
    <div class="moment-stats">
      <div class="hearts">
        <p>32</p>
      </div>
      <div class="feedback-icon">
        <p>Add feedback</p>
      </div>
    </div>
  </div>
  <div class="moment">
    <div class="moment-text">
      <div class="user-image">
        <img src="" alt="" />
      </div>
      <div class="moment-info">
        <p class="user-name">User full name</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        <p class="question">Question here</p>
      </div>
    </div>
    <div class="moment-image">
      <img src="" alt="" />
    </div>
    <ul class="moment-tags tags">
      <li>iOS</li>
      <li>Food</li>
      <li>Design</li>
    </ul>
    <div class="feedback-count">
      <p>0 feedbacks</p>
    </div>
    <div class="moment-stats">
      <div class="hearts">
        <p>32</p>
      </div>
      <div class="feedback-icon">
        <p>Add feedback</p>
      </div>
    </div>
  </div>
  <div class="moment">
    <div class="moment-text">
      <div class="user-image">
        <img src="" alt="" />
      </div>
      <div class="moment-info">
        <p class="user-name">User full name</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        <p class="question">Question here</p>
      </div>
    </div>
    <div class="moment-image">
      <img src="" alt="" />
    </div>
    <ul class="moment-tags tags">
      <li>iOS</li>
      <li>Food</li>
      <li>Design</li>
    </ul>
    <div class="feedback-count">
      <p>0 feedbacks</p>
    </div>
    <div class="moment-stats">
      <div class="hearts">
        <p>32</p>
      </div>
      <div class="feedback-icon">
        <p>Add feedback</p>
      </div>
    </div>
  </div>
  <div class="moment">
    <div class="moment-text">
      <div class="user-image">
        <img src="" alt="" />
      </div>
      <div class="moment-info">
        <p class="user-name">User full name</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        <p class="question">Question here</p>
      </div>
    </div>
    <div class="moment-image">
      <img src="" alt="" />
    </div>
    <ul class="moment-tags tags">
      <li>iOS</li>
      <li>Food</li>
      <li>Design</li>
    </ul>
    <div class="feedback-count">
      <p>0 feedbacks</p>
    </div>
    <div class="moment-stats">
      <div class="hearts">
        <p>32</p>
      </div>
      <div class="feedback-icon">
        <p>Add feedback</p>
      </div>
    </div>
  </div>
</main>
