<header>
  <nav>
    <ul class="menu">
      <li ng-click="bodyMove()" id="menu"><div class=""></div><div class=""></div><div class=""></div></li>
      <li class="title">{{projectName}}</li>
      <li>
        <ul class="menu-icons">
          <li ng-click="showNotifications()"><img src="/static/img/buttons/btn_notifications.svg" class="icon" alt="" /></li>
          <li ng-click="showCreateMoment()"><img src="/static/img/buttons/btn_create.svg" class="icon" alt="" /></li>
        </ul>
      </li>
    </ul>
  </nav>
</header>
<main class="main-feed">
  <div class="moment">

  </div>
  <div class="moment">

  </div>
  <div class="moment">

  </div>
  <div class="moment">

  </div>
  <div class="moment">

  </div>
  <div class="moment">

  </div>
</main>
