<header>
  <nav>
    <ul class="menu">
      <li></li>
      <li class="title">New Project</li>
      <li>
        <ul class="menu-icons">
          <li ui-sref="feed"><img src="/static/img/buttons/btn_cancel.svg" class="icon" alt="" /></li>
        </ul>
      </li>
    </ul>
  </nav>
  <main>
    <div class="project">
      <div class="project-type">
        <div class="type">
          <input type="radio" ng-model="project.type" id="product" name="type" value="product">
          <label for="product">Product</label>
        </div>
        <div class="type">
          <input type="radio" ng-model="project.type" id="service" name="type" value="service">
          <label for="service">Service</label>
        </div>
      </div>
      <input type="text" name="name" placeholder="Name" ng-model="project.name">
      <div class="project-color">
        <input type="radio" name="color" value="">
        <input type="radio" name="color" value="">
        <input type="radio" name="color" value="">
        <input type="radio" name="color" value="">
        <input type="radio" name="color" value="">
      </div>
      <textarea name="description" placeholder="Description..." ng-model="project.description"></textarea>
      <div class="project-members">

      </div>
      <input type="button" name="create" value="create" ng-click="submitProject(project)">
    </div>
  </main>
</header>
