<!-- <div class="early-access">
  <p>
    Early access
  </p>
</div> -->

<div class="supper-wrapper">
  <div class="side-bar">
    <div class="side-bar-content">
      <img src="/static/img/musement-logotype-white.svg" alt="" style="position: absolute; width: 110px; top: -30px; margin: 0 50px;"/>
      <div class="profile" ui-sref="feed.profile" ng-click="bodyMove()">
        <img class="profile-photo" src="" alt="" />
        <p ng-model="user">

        </p>
        <div class="profile-text">
          <p class="profile-name">John Appleseed</p>
          <p class="profile-username">@jappleseed</p>
        </div>
      </div>

      <!-- <div class="search">
        <input type="search" name="name" value="" placeholder="Search">
      </div> -->

      <div class="side-options">
        <h5>Moments</h5>
        <ul class="elements-list">
          <li ui-sref="feed" ng-click="bodyMove()" id="interests" class="active pointer"><img src="/static/img/buttons/btn_moments.svg" class="icon" alt="" />Interests</li>
          <!-- <li ui-sref="feed.connections" ng-click="bodyMove('feed.connections')" id="connections" class="pointer"><img src="/static/img/buttons/btn_connections.svg" class="icon" alt="" />Connections</li> -->
        </ul>
        <h5>Projects</h5>
        <ul class="elements-list">
          <li ui-sref="feed.project({name: 'canver'})" ng-click="bodyMove()" class="pointer"><img src="/static/img/buttons/btn_project.svg" class="icon" alt="" />Canver</li>
          <li ui-sref="feed.project({name: 'lidilic'})" ng-click="bodyMove()" class="pointer"><img src="/static/img/buttons/btn_project.svg" class="icon" alt="" />Lidilic</li>
          <li ui-sref="feed.project({name: 'kinder'})" ng-click="bodyMove()" class="pointer"><img src="/static/img/buttons/btn_project.svg" class="icon" alt="" />Kinder</li>
          <li ng-click="bodyMove()" class="pointer"><input type="button" name="name" class="green-button small" value="New project"></li>
        </ul>
        <!-- <ul class="general">
          <li ui-sref="feed.connections" class="pointer"><a>Connections</a></li>
          <li ui-sref="other" class="pointer"><a>Another</a></li>
          <li ui-sref="other" class="pointer"><a>Another</a></li>
          <li ui-sref="other" class="pointer"><a>Another</a></li>
          <li ui-sref="other" class="pointer"><a>Another</a></li>
          <li ui-sref="other" class="pointer"><a>Another</a></li>
          <li ui-sref="other" class="pointer"><a>Another</a></li>
        </ul> -->
      </div>
      <div class="log-out">
        <img src="/static/img/buttons/btn_log out.svg" class="icon" alt="" />
        <p ui-sref="landing">Log out</p>
      </div>
    </div>


  </div>

<div class="notifications" ng-class="{'active': notificationsSeen}">
  <ul class="menu">
    <li></li>
    <li>Notifications</li>
    <li ng-click="showNotifications()"><img src="/static/img/buttons/btn_cancel.svg" alt="" class="icon"/></li>
  </ul>
  <ul>
    <li>All</li>
    <li>Moment</li>
    <li>Feedback</li>
    <li>Projects</li>
  </ul>
  <div class="notifications-list">
    <div class="notification-item">

    </div>
  </div>
</div>

<div class="create-moment" ng-class="{'active': momentSeen}">
  <div class="">
    <ul class="menu">
      <!-- <li></li> -->
      <li class="title">New Moment</li>
      <li ng-click="showCreateMoment()">Cancel</li>
    </ul>
    <label for="description">Description</label>
    <textarea type="text" name="description" value="" placeholder="What were you working on? What was your progress?"></textarea>
    <label for="question">Question</label>
    <input type="text" name="question" value="" placeholder="What do you need feedback on?">
    <label for="interests">Related interests</label>
    <input type="text" name="interests" value="" placeholder="Marketing, Design, Entrepreneurship, Idea">
    <label for="files">File</label>
    <input type="file" name="name" value="">
    <label for="project">Project</label>
    <select class="" name="project">
    </select>
    <input type="button" name="create" value="create">
  </div>
</div>

<div class="body" ng-class="{'active': bodyMoved}">
  <div class="inner-body" ui-view>
    <header>
      <nav>
        <ul class="menu">
          <li ng-click="bodyMove()" id="menu"><div class=""></div><div class=""></div><div class=""></div></li>
          <li class="title">Interests</li>
          <li>
            <ul class="menu-icons">
              <li ng-click="showNotifications()"><img src="/static/img/buttons/btn_notifications.svg" class="icon" alt="" /></li>
              <li ng-click="showCreateMoment()"><img src="/static/img/buttons/btn_create.svg" class="icon" alt="" /></li>
            </ul>
          </li>
        </ul>
        <!-- <div class="filter">
          <img src="/static/img/buttons/btn_filter.svg" alt="" class="mini-icon" />
          <p>Filter:</p>
          <ul class="tags">
            <li>Marketing</li>
            <li>Food</li>
            <li>Design</li>
          </ul>
        </div> -->
      </nav>
    </header>
    <main class="main-feed">
      <div class="moment">
        <div class="moment-text">
          <div class="user-image">
            <img src="" alt="" />
          </div>
          <div class="moment-info">
            <p class="user-name">User full name</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <p class="question">Question here</p>
          </div>
        </div>
        <ul class="moment-tags tags">
          <li>iOS</li>
          <li>Food</li>
          <li>Design</li>
        </ul>
        <div class="feedback-count">
          <p>0 feedbacks</p>
        </div>
        <div class="moment-stats">
          <div class="hearts">
            <p>102</p>
          </div>
          <div class="feedback-icon">
            <p>Add feedback</p>
          </div>
        </div>
      </div>
      <div class="moment">
        <div class="moment-text">
          <div class="user-image">
            <img src="" alt="" />
          </div>
          <div class="moment-info">
            <p class="user-name">User full name</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <p class="question">Question here</p>
          </div>
        </div>
        <div class="moment-image">
          <img src="" alt="" />
        </div>
        <ul class="moment-tags tags">
          <li>iOS</li>
          <li>Food</li>
          <li>Design</li>
        </ul>
        <div class="feedback-count">
          <p>0 feedbacks</p>
        </div>
        <div class="moment-stats">
          <div class="hearts">
            <p>42</p>
          </div>
          <div class="feedback-icon">
            <p>Add feedback</p>
          </div>
        </div>
      </div>
      <div class="moment">
        <div class="moment-text">
          <div class="user-image">
            <img src="" alt="" />
          </div>
          <div class="moment-info">
            <p class="user-name">User full name</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <p class="question">Question here</p>
          </div>
        </div>
        <ul class="moment-tags tags">
          <li>iOS</li>
          <li>Food</li>
          <li>Design</li>
        </ul>
        <div class="feedback-count">
          <p>0 feedbacks</p>
        </div>
        <div class="moment-stats">
          <div class="hearts">
            <p>32</p>
          </div>
          <div class="feedback-icon">
            <p>Add feedback</p>
          </div>
        </div>
      </div>
    </main>
  </div>

</div>
</div>
