<header class="mobile-header">
  <nav>
    <ul class="menu">
      <li ng-click="bodyMove()" id="menu"><div class=""></div><div class=""></div><div class=""></div></li>
      <li class="title">{{project.name}}</li>
      <li>
        <ul class="menu-icons">
          <li ng-click="showNotifications()"><img src="/static/img/buttons/btn_notifications.svg" class="icon" alt="" /></li>
          <li ng-click="showCreateMoment()"><img src="/static/img/buttons/btn_create.svg" class="icon" alt="" /></li>
        </ul>
      </li>
    </ul>
  </nav>
</header>
<main class="main-feed">
  <div class="user-profile project">
    <div class="user-info">
      <h1>{{project.name}}</h1>
      <p class="bio">{{project.description}}</p>
      <h5>Members</h5>
      <div class="members">
        <div class="member" ng-repeat="member in project.members" ui-sref="feed.profile({username: member.username})">
          <img src="{{member.image}}" alt=""/>
          <p>{{member.name}}</p>
          <p class="profile-username">@{{member.username}}</p>
        </div>
        <!-- <img src="" alt="" /> -->
      </div>
    </div>
  </div>
  <div class="moment" ng-repeat="moment in project.moments" ui-sref="feed.moment({username: moment.user.username, moment_id: moment._id})" ng-model="moments">
    <div class="moment-text">
      <div class="user-image" ui-sref="feed.profile({username: moment.user.username})">
        <img src="{{moment.user.image}}" alt="" />
      </div>
      <div class="moment-info">
        <p class="user-name" ng-click="console.log(moment);" ui-sref="feed.profile({username: moment.user.username})">{{moment.user.name}} {{moment.user.surname}}</p>
        <p>{{moment.description}}</p>
        <p class="question">{{moment.question}}</p>
      </div>
    </div>
    <div class="moment-attachments" ng-if="moment.attachments.length > 0">
      <img  ng-repeat="attachment in moment.attachments" src="/{{attachment}}" alt="" />
    </div>
    <ul class="moment-tags tags" ng-if="!!moment.tags.length">
      <li ng-repeat="tag in moment.tags.name">{{tag}}</li>
    </ul>
    <div class="feedback-count">
      <p>{{moment.feedback.length}} feedbacks</p>
    </div>
    <div class="moment-stats">
      <div class="hearts" ng-click="heart($index, moment._id); $event.stopPropagation();" ng-class="{liked: ((moment.hearts | contains:user_id) || moment.liked)}">
        <p>{{moment.hearts.length}}</p>
      </div>
      <div class="feedback-icon">
        <p>Add feedback</p>
      </div>
    </div>
  </div>
</main>
