<header>
  <nav>
    <ul class="menu">
      <li ng-click="bodyMove()" id="menu"><div class=""></div><div class=""></div><div class=""></div></li>
      <li class="title">Perfil</li>
      <li>
        <ul class="menu-icons">
          <li ng-click="showNotifications()"><img src="/static/img/buttons/btn_notifications.svg" class="icon" alt="" /></li>
          <li ng-click="showCreateMoment()"><img src="/static/img/buttons/btn_create.svg" class="icon" alt="" /></li>
        </ul>
      </li>
    </ul>
    <!-- <div class="filter">
      <img src="/static/img/buttons/btn_filter.svg" alt="" class="mini-icon" />
      <p>Filter:</p>
      <ul class="tags">
        <li>Marketing</li>
        <li>Food</li>
        <li>Design</li>
      </ul>
    </div> -->
  </nav>
</header>

<main class="main-feed">
  <div class="user-profile">
    <div class="user-image">
      <img src="" alt="" />
    </div>
    <div class="user-info">
      <p class="name">{{user.name}} {{user.lastName}}</p>
      <p class="username">{{user.username}}</p>
      <p class="bio">{{user.bio}}</p>
      <p class="location">{{user.location.city}}, {{user.location.state}}</p>
      <p class="work not-available">Not available for work</p>
    </div>
  </div>
  <div class="moment">
    <div class="moment-text">
      <div class="moment-info">
        <p class="user-name">User full name</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        <p class="question">Question here</p>
      </div>
    </div>
    <div class="moment-image">
      <img src="" alt="" />
    </div>
    <ul class="moment-tags tags">
      <li>iOS</li>
      <li>Food</li>
      <li>Design</li>
    </ul>
    <div class="feedback-count">
      <p>0 feedbacks</p>
    </div>
    <div class="moment-stats">
      <div class="hearts">
        <p>32</p>
      </div>
      <div class="feedback-icon">
        <p>Add feedback</p>
      </div>
    </div>
  </div>
