<body>
  <a href="/">
    <div class="full-logo">
      <img src="./static/img/musement.svg" alt="" class="logo"/>
      <img src="./static/img/musement-logotype.svg" class="logotype" alt="" />
    </div>
  </a>
  <div class="sign-fields">
    <form name="signup" ng-submit="submit()">
      <input type="email" ng-model="user.email" name="name" placeholder="Email" required>
      <input type="password" ng-model="user.password" name="name" placeholder="Password" required>
      <input type="password" ng-model="user.confirm_password" name="confirm_password" placeholder="Confirm Password" required>
      <div ng-messages="signup.confirm_password.$error" ng-if='signup.confirm_password.$touched'>
        <span ng-message="password">Passwords do not match</span>
      </div>
      <input type="submit" class="green-button small" value="Sign Up">
    </form>
    <div class="">
      <p>Already a member? <a ui-sref="login">Log in</a></p>
      <p><a ng-click="">Need help?</a></p>
    </div>
  </div>
  <div class="complete-signup sign-fields" ng-hide="next">
    <div class="">
      <h2>Complete the <span style="font-weight:bold">Sign up</span></h2>
      <input type="text" name="name" ng-model="user.name" placeholder="Name" required="true">
      <input type="text" name="surname" ng-model="user.surname" placeholder="Surname" required="true">
      <input type="text" name="username" ng-model="user.username" placeholder="username" required="true">
    </div>
    <div class="profile-picture">
      <div class="photo" style="background-image:url({{image_url}})">
        <input type="file" name="name" ng-model="user.photo">
      </div>
      <p>What about a profile picture?</p>
    </div>
    <div class="">
      <input type="button" name="done" value="DONE" ng-click="signup(user)" class="green-button">
      <p>Will be necessary to improve your experience in Musement</p>
    </div>
  </div>
</body>
