<body>
  <div class="full-logo">
    <img src="./static/img/musement.svg" alt="" class="logo"/>
    <img src="./static/img/musement-logotype.svg" class="logotype" alt="" />
  </div>
  <div class="sign-fields">
    <input type="text" name="name" placeholder="Username">
    <input type="email" name="name" placeholder="Email">
    <input type="password" name="name" placeholder="Password">
    <input type="button" class="green-button small" value="Sign up" ui-sref="feed">
    <div class="">
      <p><a ng-click="">Need help?</a></p>
      <p>Already a member? <a ui-sref="signin">Sign in</a></p>
    </div>
  </div>
</body>
