doctype html
head
  meta(charset="utf-8")
  meta(name='viewport', content='width=device-width, user-scalable=no')
  title Musement Collective - Chat
  link(rel="stylesheet", href="/static/assets/css/normalize.css", type='text/css')
  link(rel="stylesheet", href="/static/assets/css/master.css", type='text/css')
  link(rel="stylesheet", href="/static/assets/css/chat.css", type='text/css')
  link(rel="stylesheet", href="/static/assets/css/green.css", type='text/css')
  
body
  .container
    include ./includes/menu.jade  
      //- .channel General
    #mainPanel.chat
    .content_center
      .icon-menu_IconOPEN#menu_button
      ul#messages
        form(action='')
          input#m(autocomplete='off', placeholder="Escribe aquí")
        p(hidden='' id="username") #{username}
        p(hidden='' id="image") #{image}
        
  script(src='/socket.io/socket.io.js')
  script(src="http://code.jquery.com/jquery-1.11.1.js")
  script(src="/static/js/bundle.js")
  script(src='/static/js/home.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/hammer.js/2.0.4/hammer.min.js')
  script(src='/static/assets/js/menu-swipe.js')
  
  
    
