html
  head
    meta(name='viewport', content='width=device-width, user-scalable=no')  
    title Musement Collective - Home
    link(rel="stylesheet", href="/static/css/normalize.css", type='text/css')
    link(rel="stylesheet", href="/static/css/master.css", type='text/css')
    link(rel="stylesheet", href="/static/css/green.css", type='text/css')
    
  body
    .container
      //- Insert menu
      #mainPanel.c1 
        .content_center
          .icon-menu_IconOPEN#menu_button
          .icon-gotRight#timeline_right
        .text-logo
            span.logo_text-top musement 
        .container_animation-moment
          #moment.loading-click.open
          #text.text_start
            |Iniciar
        .moment-text
        //- | Iniciar
        #error.error_moment
                    
        .footer_home.margin_auto
          | ¡Tu momento es ahora!
            
      #timelinePanel.c2    
        .icon-goLeft#timeline_left
        .profile
          img(src="#{image}", alt="")  
        section#wall.timeline
                      
  //- Create moment Popup (is hidden)        
  #somedialog.dialog
    .dialog-overlay
    .dialog-content
      .icon-upload_Icon    
      #close_moment.icon-closeIcon.close
      h2 Mi Momento
      form.create_moment(action='/home', method='post', enctype="multipart/form-data" )
        
        input(type="text", name="description", required="true", placeholder="Describe tu momento :)")
        .file-upload 
          label.upload-label
            input(type='file', accept="image/jpg, image/jpeg" id='attachement', onchange="verifySize()", name="fileName")
            p(id='fileError')
            span.icon-img_Icon                
          input(type="hidden", name="totalTime", id="time")
          //- input.close.btn.btn-close(type="submit", name="submits", value="Guardar Momento")
          button.close.btn.btn-close(type='submit', name="submits")
            i.icon-done_Icon
          
script(src='/socket.io/socket.io.js')           
script(src='/static/js/jquery.min.js')                
script(src="/static/js/moment.js")
script(src='/static/js/momentpopup.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/hammer.js/2.0.4/hammer.min.js')
script(src='/static/js/menu-swipe.js')
script(src='/static/js/timeline-swipe.js')
script(src='/static/js/home.js')
script(src='/static/js/analytics.js')
