html
  head
    meta(name='viewport', content='width=device-width, user-scalable=no')  
    title Musement Collective - Home
    link(rel="stylesheet", href="/static/assets/css/master.css", type='text/css')
    link(rel="stylesheet", href="/static/assets/css/normalize.css", type='text/css')
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css", type='text/css')
    
  body
    .container
      .c1 
        .content_center
          .fa.fa-bars 
        .text-logo
            span.logo_text-top musement 
            span.logo_text-bottom collective
        //- .moment-text
        //-   | Iniciar
        .container_animation-moment
          #moment.loading-click.open
                    
        .footer
          | ยก210 personas inspiradas!
            
      .c2    
        section#wall.timeline
                
  #somedialog.dialog
    .dialog-overlay
    .dialog-content
      h2
        strong Mi Momento
        form(action='/home', method='post', enctype="multipart/form-data" class)
          input(type="text", name="description", placeholder="Describe tu momento")
          .file-upload
              label.upload-label
                  input(type='file', id='attachement', onchange="setName()", name="fileName")
           input(type="hidden", name="totalTime", id="time")
          div
              input.close.btn.btn-close(type="submit", name="submit", value="Guardar Momento")
              
script(src='/static/assets/js/jquery.min.js')                
script(src="/static/js/moment.js")
script(src='/static/assets/js/momentpopup.js')
script(src='/static/js/home.js')

                
                
               
              
              
            
              
          
          
    
    
      
