doctype html
head 
  meta(charset="utf-8")
  meta(name='viewport', content='width=device-width, user-scalable=no')
  title Musement Collective - Invitation
  link(rel="stylesheet", href="/static/css/master.css", type='text/css')
  link(rel="stylesheet", href="/static/css/normalize.css", type='text/css')
  link(rel="stylesheet", href="/static/css/green.css", type='text/css')
  
  
body
  .container
    .c1.align_center
      .signin
        a(href="/login") Iniciar Sesión
      figure
        img(src='/static/img/logo.svg')
      .message.big
        | Invitación
        
      form.signup(action='/invitation', method='post' class)
        .wrap
          .icon-usernameIcon
          input(type="text", name="name", placeholder="nombre" required="true")
        .wrap
          .icon-email-10
          input(type="email", name="email", placeholder="email" required="true")
        .wrap.noborder 
          .icon-chat_Icons
          input(type="text", name="whatismusement", placeholder="describe Musement en 1 oración")
          
        input(type="submit", name="submit", value="Pedir Invitación")
        
      .footer.big-especial
        | Versión Beta :)
          
    .c2.wallpaper.none.noscroll 
