<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, user-scalable=no">
  <title>Musement Collective - Login</title>
  <link rel="stylesheet" href="/static/css/master.css" type="text/css">
  <link rel="stylesheet" href="/static/css/normalize.css" type="text/css">
  <link rel="stylesheet" href="/static/css/green.css" type="text/css">
</head>
<body>
  <div class="container">
    <div class="c1 align_center">
      <div class="signin">
        <a href="/signup">Nuevo Usuario</a>
      </div>
      <figure>
        <img src="/static/img/logo.svg">
      </figure>
      <div class="message">Bienvenido</div>
      <form action="/login" method="post" class="signup true">
        <div class="wrap">
          <div class="icon-email-10"></div>
          <input type="email" name="email" placeholder="email">
        </div>
        <div class="wrap noborder">
          <div class="icon-passwordIcon">
          </div>
          <input type="password" name="password" placeholder="contraseña">
        </div>
        <input type="submit" name="submit" value="Entrar" class="login">
      </form>
      <div class="footer">¿Problemas para entrar?<br>
        <a href="mailto:hello@musement.co">hello@musement.co </a>
      </div>
    </div>
    <div class="c2 wallpaper none noscroll">
    </div>
  </div>
  
</body>
