doctype html
html
  head
    meta(charset='utf-8')
    link(rel='stylesheet', href='/static/css/normalize.css')
    link(rel='stylesheet', href='/static/css/momentpopup.css')
    title Musement Collective
  body
    div(id='test') 
    #somedialog.dialog
      .dialog-overlay
      .dialog-content
        h2
          strong Mi Momento
          form(action='/home', method='post', enctype="multipart/form-data" class)
            input(type="text", name="description", placeholder="Describe tu momento")
            .file-upload
                label.upload-label
                    input(type='file', id='attachement', onchange="alertFilename()", name="fileName")
             input(type="hidden", name="totalTime", id="time")
            div
                input.close.btn.btn-close(type="submit", name="submit", value="Guardar Momento")
  script(src='/static/js/jquery.min.js')    
  script(src='/static/js/moment.js')
  script(src='/static/js/momentpopup.js')
    
