doctype html
head 
  meta(charset="utf-8")
  meta(name='viewport', content='width=device-width, user-scalable=no')
  title Musement Collective - Sign Up
  link(rel="stylesheet", href="/static/assets/css/master.css", type='text/css')
  link(rel="stylesheet", href="/static/assets/css/normalize.css", type='text/css')
  link(rel="stylesheet", href="/static/assets/css/green.css", type='text/css')
  
  
body
  .container
    .c1 
      .signin
        a(href="/login") Iniciar Sesión
      figure
        img(src='/static/assets/img/logo.svg')
      .message
        | Registro
        
      form.signup(action='/signup', method='post' class)
        .wrap
          .icon-usernameIcon
          input(type="text", name="username", placeholder="usuario")
        .wrap
          .icon-email-10
          input(type="email", name="email", placeholder="email") 
        .wrap.noborder       
          .icon-passwordIcon
          input(type="password", name="password", placeholder="contraseña")
        input(type="submit", name="submit", value="Registrarse")
        
      .footer
        | ¿Problemas con tu registro?
        br 
        a(href="mailto:hello@musement.co") hello@musement.co 
          
    .c2.wallpaper.none 
