html
  head
    title Musement Collective - Signup
  body
    h1 Signup
    form(action="/signup", method="post")
      input(type="text", name="username", value="" placeholder="usuario")
      input(type="email", name="email", value="" placeholder="email")
      input(type="password", name="password", value="" placeholder="password")
      input(type="submit", name="name", value="Registrarse")
      