@font-face {
  font-family: helvetica;
    src: url('../fonts/Helvetica.otf');
}

body{
  font-size: 16px;
  font-family: 'helvetica', sans-serif;
}

.container{
  background: url(../img/main.jpg);
  position: relative;
  margin: 0;
  width: 100%;
  min-height: 100vh;
  flex-direction: column;
  justify-content: center;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  align-items: center;
  display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
}
.login{
  padding: 1vh 0;
  width: 100%;
  text-align: right;
  border-bottom: 1px solid rgba(255, 255, 255, 0.6);
}
.login a{
  color: white;
  padding: 1vh 3vh 1vh 1vh;
  text-decoration: none;
}
.logo{
  margin-top: auto;
}
.logo img{
  border-bottom: 1px solid #1FAC89;
  padding-bottom: 3vh;
  width: 200px;
}

.text{
  width: 100%;
  color: white;
  text-align: center;
  margin: 3vh 0;
}

p{
  padding: 0 1vh 0 1vh;
}


.btn{
  background-color: #1FAC89;
  color: white;
  border: 0px solid #000000;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  padding: 14px 40px 12px 40px;
  text-decoration: none;
}
.button{
  margin-bottom: auto;
}
@media (min-width: 850px) {
  .text{
    width: 50%;
  }
}
