@font-face {
    font-family: WeblySleekSlim;
    src: url(../fonts/weblysleeks.ttf);
}

@font-face {
    font-family: WeblySleekBold;
    src: url(../fonts/weblysleekb.ttf);
}

* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: rgb(45, 60, 68);
}
a:visited {
  color: rgb(45, 60, 68);
}
body {
  font-family: 'WeblySleekSlim', 'Helvetica Neue', Helvetica, sans-serif;
  color: rgb(63,77,85);
  font-weight: 300;
}
.anchors{
  text-align: right;
  width: 100%;
}
.anchors a{
  padding-left: 2rem;
}
.anchors a:visited {
  color: rgb(45, 60, 68);
}
nav {
  z-index: 3;
  display: flex;
  width: 100%;
  align-items: center;
  flex-direction: row;
  padding: 1rem 1rem 0;
  color: rgb(255, 255, 255);
}
nav .logotype {
  width: 90px;
}
.hero {
  background: url('/static/img/hero.svg') repeat-x center bottom;
  background-size: 100vh;
}
.parallax-container, .hero {
  height: 100vh;
}
.meetup-min {
  width: 60px;
}
.event-details {
  margin: 30px 0;
}
.content .event-detail {
  color: rgb(85, 175, 139);
  font-weight: 500;
  font-size: 0.8rem;
}
.hero .arrow {
  width: 35px;
}
.hero .content {
  display: flex;
  flex-direction: column;
  color: rgb(45, 60, 68);
  align-items: center;
  height: 100vh;
  text-align: center;
  position: relative;
}
h1, h2 {
  font-weight: 400;
  color: rgb(45, 60, 68)
}
.content h2 span {
  font-weight: 500;
  font-size: 2.2rem;
}
.two-column {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.two-column .column {
  display: inline-block;
  margin: 10px;
}
.two-column img {
  max-height: 200px;
  margin: 30px 0;
  margin-bottom: 30px;
}
.three-column{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.three-column .column {
  display: inline-block;
  margin: 10px;
}
.three-column img {
  max-height: 200px;
  margin: 30px 0;
  margin-bottom: 30px;
}
.hero h2 {
  font-size: 1.5rem;
  font-weight: 200;
}
.hero h4 {
  font-size: 1rem;
  font-weight: 300;
}
.hero p {
  font-weight: 300;
}
.hero .signup {
  margin-top: 20px;
  position: relative;
}
.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 100px;
}
.section:last-child {
  margin-bottom: 30px;
}
.section p {
  font-weight: 300;
  font-size: 1.1rem;
  line-height: 1.7rem;
}
.section h2 {
  font-family: 'WeblySleekBold', 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 1.1rem;
  line-height: 1.7rem;
}
.develop-your-project .people {
  max-width: 575px;
  margin: 50px 0;
}
.input-elements {
  padding: 10px 0;
}
.input-elements input[type="email"] {
  outline: none;
  background: rgba(0, 0, 0, .3);
  font-size: 1rem;
  padding: 3px 20px 3px 10px;
  border-radius: 8px;
  color: rgb(255, 255, 255);
  width: 200px;
}

input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
input[type="button"] {
  cursor: pointer;
  background: rgb(247, 193, 108);
  font-size: 1rem;
  padding: 5px 20px;
  color: rgb(255, 255, 255);
  border-radius: 3px;
  display: block;
}
.input-elements input[type="button"] {
  padding: 3px 10px;
  margin-left: -20px;
  border-radius: 8px;
  display: inline-block;
}
.thanks-email{
}
.hero .logo {
  width: 100px;
  margin: 20px 0;
}
.hero .content {
  padding: 0 10%;
}
.content {
  padding: 50px 10%;
}
.min-slack-logo {
  margin-top: 25px;
  width: 75px;
}
.learn-more {
  position: absolute;
  width: 100%;
  right: 0;
  left: 0;
  bottom: 10px;
  right: calc(50% - 39px);
  color: #fff;
}
.blue{
  background: #31586F;
  border-radius: 50px;
  color: white;
}
.blue h2{
  margin-top: 1.5rem;
  color: white;
  margin-bottom: 1.5rem;
}
.yellow {
  text-align: center;
  font-weight: 300;
  background: rgb(247, 192, 108) url('/static/img/slack-background.svg') center bottom repeat-x;
  color: rgb(255, 255, 255);
}
.yellow h2, .call-to-action h2 {
  color: rgb(255, 255, 255);
  margin-bottom: 5px;
  font-weight: 500;
}
.call-to-action {
  padding: 75px 0;
  text-align: center;
  font-weight: 300;
  background: rgb(59, 78, 87) url('/static/img/cta-background.svg') center bottom repeat-x;
  color: rgb(255, 255, 255);
}
.slack {
  display: flex;
  background-size: 100vh;
  text-align: left;
}
.slack, .call-to-action {
  flex-wrap: wrap;
  justify-content: center;
}
.slack img, .call-to-action img {
  max-width: 225px;
}
.slack input[type="button"], .yellow input[type="button"] {
  background: rgb(84, 174, 138);
}
.slack .left-content {
  margin: 0 10%;
  flex-grow: 2;
}
.slack .left-content h2 {
  font-family: 'WeblySleekBold', 'Helvetica Neue', Helvetica, sans-serif;
  margin-bottom: 20px;
}
.yellow .left-content h2 {
  color: #fff;
}
.slack .left-content p {
  font-size: 1.2rem;
  line-height: 1.7rem;
}
.slack .right-image {
  flex-grow: 1;
  min-width: 250px;
  text-align: center;
}
.slack .right-image img {
  width: 100%;
  margin: 30px 0;
}
footer {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  font-weight: 300;
  padding: 75px 0;
}
footer .musement-logo {
  width: 200px;
  margin-bottom: 30px;
}
footer p {
  color: #3F4D55;
  font-size: .9rem;
  margin-bottom: 10px;
}
footer .follow ul {
  display: flex;
  justify-content: center;
}
footer .follow ul li {
  margin: 0 10px;
  width: 30px;
  height: 30px;
  border: 1px solid #3F4D55;
  border-radius: 50%;
  cursor: pointer;
}
footer .follow #slack {
  width: 90px;
  border-radius: 15px;
  position: relative;
  margin-left: 40px;
}
footer .follow #slack::before {
  position: absolute;
  margin-left: -27px;
  margin-top: 4px;
  content: '';
  width: 1px;
  height: 20px;
  background: #3F4D55;
}
footer .follow #slack img {
  width: 90px;
}
.slack .svg.follow-logo.replaced-svg {
  width: 88px;
}
.follow .twitter:hover {
  background: #55acee;
  /*content:url("../img/twitter-white.svg");*/
}
.follow .facebook:hover {
  background: #3b5998;
  /*content:url("../img/facebook-white.svg");*/
}
.follow .snapchat:hover {
  background: #F7EB20;
  /*content:url("../img/snapchat-white.svg");*/
}
.follow .slack:hover {
  background: #3e313c;
  /*content:url("../img/slack-white.svg");*/
}

*::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.8);;
}
*:-moz-placeholder {
    /* FF 4-18 */
    color: rgba(255, 255, 255, 0.8);;
}
*::-moz-placeholder {
    /* FF 19+ */
    color: rgba(255, 255, 255, 0.8);;
}
*:-ms-input-placeholder {
    /* IE 10+ */
    color: rgba(255, 255, 255, 0.8);;
}
@media (min-width: 600px) {
  .input-elements input[type="email"] {
    width: auto;
  }
  nav .logotype {
    width: 100px;
  }
  .hero h2 {
    font-size: 1.8rem;
  }
  .hero h4 {
    font-size: 1.1rem;
  }
  .hero .logo {
    width: 175px;
  }
  .hero .logo {
    margin: 30px 0;
  }
  .hero .signup {
    margin-top: 40px;
  }
  nav ul li {
    font-size: 1.2rem;
  }
  .slack-logo {
    width: 300px;
  }
  footer .follow ul li {
    margin: 0 20px;
  }
}
@media (min-width: 800px) {
  nav {
    padding: 2rem 5rem;
  }
  .two-column .column {
    margin: 30px;
  }
  .three-column .column {
    margin: 10px;
    width: 33%;
    margin-bottom: 3rem;
  }
  .section p.subtitle{
    font-size: 1.5rem;
  }
  .section p {
    padding: 0 10%;
  }
  .two-column {
    flex-wrap: nowrap;
  }
  .three-column {
    flex-wrap: nowrap;
  }
  .slack, .call-to-action {
    flex-wrap: nowrap;
  }

  .hero h2 {
    font-size: 2.3rem;
  }
  .hero h4 {
    font-size: 1.3rem;
  }
  .hero .logo {
    margin: 30px 0;
  }
  .hero .signup {
    margin-top: 60px;
  }
  .hero .logo {
    width: 175px;
  }
}
@media (min-width: 500px) and (orientation:portrait) {
  .hero .logo {
    margin: 70px 0;
    width: 225px;
  }
  .hero .signup {
    margin-top: 100px;
  }
}
@media (min-width: 1500px) {
  nav {
    padding: 1.5rem 10rem;
  }
  .hero .logo {
    margin: 60px 0;
    width: 225px;
  }
  .hero h2 {
    margin-bottom: 10px;
  }
  .hero .logo {
    margin-top: 80px;
  }
}
