@font-face {
  font-family: helvetica;
    src: url('../fonts/Helvetica.otf');
}
@font-face {
  font-family: hero;
    src: url('../fonts/Hero.otf');
}
@font-face {
  font-family: hero-light;
    src: url('../fonts/Hero Light.otf');
}
@font-face {
    font-family: 'icomoon';
    src:    url('../fonts/icomoon.eot?x7qbjt');
    src:    url('../fonts/icomoon.eot?x7qbjt#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.ttf?x7qbjt') format('truetype'),
        url('../fonts/icomoon.woff?x7qbjt') format('woff'),
        url('../fonts/icomoon.svg?x7qbjt#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

body{
  font-size: 16px;
  font-family: 'helvetica', sans-serif;
}
[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    color:#FF543F;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/*Containers*/
.container{
  background-color: #ffffff;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
}

.c1{
  position: relative;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  align-items: center;
  flex-grow: 1;
}

.c2{
  background-color: #FF5440;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.none{
  display: none;
}
.signin a{
  color: #FF543F;
  text-decoration: none;
}
.signin{
  font-size: 0.9em;
  margin-bottom: auto;
  margin-top: 2vh;
  margin-left: 2vh;
  align-self: baseline;
}

.message{
  margin: 5vh 0 3vh 0;
  color: #D3D3D3;
  font-size: 1.2em;
}

form{
  display: flex;
  flex-direction: column;
}
input[type=submit]{
  padding: 0.7vh 3vh 0.7vh 3vh;
  margin: 2vh 0;
  background-color: #FF543F;
  color: white;
  border: 0px solid #000000;
  border-radius: 20px;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
}

input[type="text"], input[type="email"] {
  margin: 0;
  width: 100%;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: none;
  -moz-border-radius: none;
  -ms-border-radius: none;
  -o-border-radius: none;
  border-radius: none;
  padding: 15px 10px 15px 10px;
  border: none;
  /*-webkit-transition: border 0.3s;
  -moz-transition: border 0.3s;
  -o-transition: border 0.3s;
  transition: border 0.3s;*/

}
input[type="text"]{
  padding-left: 19px;
}
input[type="password"]{
  margin-top: 5px;
  padding: 15px 10px 15px 20px;
  border: none;
}
textarea:focus, input:focus{
    outline: none;
}

.footer{
  font-size: 0.7em;
  color: #D3D3D3;
  text-align: center;
  margin-top: auto;
  margin-bottom: 2vh;
}
.footer a{
  color: #D3D3D3;
  text-decoration: none;
}
.wrap{
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: solid 2px #FF543F;
}
.icon-email:before {
    content: "\e900";
    font-size: 0.8em;
}
.icon-password:before {
    content: "\e901";

}
.icon-username:before {
    content: "\e902";
}

/*Moments*/
.text-logo{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  align-content: center;
  width: 80%;
  margin: 3vh 3vh 0 0;
  font-family: 'hero', sans-serif;
  color: white;
  text-align: center;
  font-size: 1.2rem;
}
.logo_text-bottom{
  padding-right: 1.5vh;
}
.tipe_moment{
  margin-bottom: 1vh;
}
.image img{
  /*margin-left: 100px;*/
  width: 240px;
  border-radius: 10px;
}
.timeline{
  margin-top: 3vh;
  border-top: rgba(255, 255, 255, 0.7) 1px solid;
  width: 90%;
  color: white;
}
.time_moment{
  display: flex;
  padding-right: 5vh;

}
.moment{
  /*text-align: center;*/
  padding-left: 1vh;
  padding-right: 3vh;
  display: flex;
  flex-direction: column;
  /*align-items: center;*/
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.right_moment{
  margin-left: 4rem;
}
.has{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.has img{
  margin-right: 0.5em;
  border-radius: 50%;
  border: white 3px solid;
}
.bold{
  margin-left: 0.3em;
  margin-right: 0.3em;
  font-weight: bold;
}

/*moment animation*/
.container_animation-moment{
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 50%;
}
.loading {
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -60px 0 0 -60px;
  background: #fff;
  width: 100px;
  height: 100px;
  border-radius: 100%;
  border: 10px solid #FF543F;
}
.loading:after {
  content: '';
  background: trasparent;
  width: 140%;
  height: 140%;
  position: absolute;
  border-radius: 100%;
  top: -20%;
  left: -20%;
  opacity: 0.7;
  box-shadow: #FF543F -4px -5px 3px -3px;
  animation: rotate 2s infinite linear;
}

.loading-click {
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -60px 0 0 -60px;
  background: #fff;
  width: 100px;
  height: 100px;
  border-radius: 100%;
  border: 10px solid #FF543F;
}
.loading-click:after {
  content: '';
  background: trasparent;
  width: 140%;
  height: 140%;
  position: absolute;
  border-radius: 100%;
  top: -20%;
  left: -20%;
  opacity: 0.7;
  animation: rotate 2s infinite linear;
}

@keyframes rotate {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}

@media (min-width: 850px) {
  /*Temporaly container row, because timeline will swipe*/
  .container{
    flex-direction: row;
  }
  .c1{
    width: 30%;
    margin-right: 0.3em;
  }
  .wallpaper{
    background-image: url(../img/rojo.jpg);
    background-position: center;
  }

  /*This cover 70% for the screen with flex*/
  .c2{
    width: 70%;

  }
  .none{
    display: flex;
  }
  /*moment*/
  .timeline{
    width: 60%;
  }
  .time_moment{
    padding-right: 5vh;
  }

}
