.imenu{
  display: flex;
  flex-direction: row;
  font-size: 1rem;
  color:  #FF543F;
  margin: 2.5rem 0 2.5rem 3rem;

}

span.title_menu{
  padding-left: 4vh;
}
.fa{
  margin-top: 2vh;
  position: absolute;
  top: 0;
  color: #FF543F;
  font-size: 1.5rem !important;
  font-weight: lighter !important;
  cursor: pointer;
}
.fa-times{
  padding: 0.2rem;
}
