<header class="large-header">
  <nav>
    <ul class="menu">
      <li ui-sref="feed" id="menu"></li>
      <li class="title">Moments</li>
      <li>
        <ul class="menu-icons">
          <li ng-click="showNotifications()"><img src="/static/img/buttons/btn_notifications.svg" class="icon" alt=""></li>
          <li ng-click="showCreateMoment()"><img src="/static/img/buttons/btn_create.svg" class="icon" alt=""></li>
        </ul>
      </li>
    </ul>
  </nav>
</header>
<div class="super-hover" ng-class="{'active': momentSeen}" ng-click="momentSeen=false"></div>
<div class="supper-wrapper" id="supper-wrapper">
  <div class="side-bar">
    <div class="side-bar-content">
      <img src="/static/img/musement-logotype-white.svg" alt="" style="position: absolute; width: 110px; top: -30px; margin: 0 50px;"/>
      <div class="profile" ui-sref="feed.profile({username: username})" ng-click="bodyMove()">
        <img class="profile-photo" src="{{this_user.image}}" alt="" />
        <div class="profile-text">
          <p class="profile-name">{{this_user.name}} {{this_user.surname}}</p>
          <p class="profile-username">@{{username}}</p>
        </div>
      </div>
      <!-- <div class="search">
        <input type="search" name="name" value="" placeholder="Search">
      </div> -->
      <div class="side-options">
        <h5>Moments</h5>
        <ul class="elements-list">
          <li ui-sref="feed" ng-click="bodyMove()" id="interests" class="active pointer"><img src="/static/img/buttons/btn_moments.svg" class="icon" alt="" /><p>Moments</p></li>
          <!-- <li ui-sref="feed.connections" ng-click="bodyMove('feed.connections')" id="connections" class="pointer"><img src="/static/img/buttons/btn_connections.svg" class="icon" alt="" />Connections</li> -->
        </ul>
        <h5>Projects</h5>
        <ul class="elements-list">
          <li ng-repeat="project in this_user.projects" ui-sref="feed.project({'username': username, 'projectname': project.name})" ng-click="bodyMove()" class="pointer"><img src="{{project.color}}">{{project.name}}</li>
          <li ui-sref="feed.new-project" ng-click="bodyMove()" class="pointer"><input type="button" name="name" class="green-button small" value="New Project"></li>
        </ul>
      </div>
      <div class="log-out" ng-click="logout()">
        <img src="/static/img/buttons/btn_log out.svg" class="icon" alt=""/>
        <p>Log Out</p>
      </div>
    </div>


  </div>

<div class="notifications" ng-class="{'active': notificationsSeen}">
  <ul class="menu">
    <li></li>
    <li>Notifications</li>
    <li ng-click="showNotifications()"><img src="/static/img/buttons/btn_cancel.svg" alt="" class="icon"/></li>
  </ul>
  <ul>
    <li>All</li>
    <li>Moment</li>
    <li>Feedback</li>
    <li>Projects</li>
  </ul>
  <div class="notifications-list">
    <div class="notification-item">

    </div>
  </div>
</div>

<div class="create-moment" ng-class="{'active': momentSeen}">
  <div class="">
    <ul class="menu">
      <!-- <li></li> -->
      <li class="title">New Moment</li>
      <li ng-click="showCreateMoment()">Cancel</li>
    </ul>
    <form name="create_moment">
      <label for="description">Description</label>
      <textarea type="text" ng-model="newMoment.description" name="description" value="" placeholder="What were you working on? What was your progress?"></textarea>
      <label for="question">Question</label>
      <input type="text" ng-model="newMoment.question" name="question" value="" placeholder="What do you need feedback on?">
      <label for="tags">Related Interests (Max. 3)</label>
        <tags-input ng-model="newMoment.tags" display-property="name" placeholder="Add Topic" replace-spaces-with-dashes="false" max-tags="3" min-length="0"  add-from-autocomplete-only="true">
          <auto-complete source="loadTags($query)" min-length="0" load-on-focus="true" load-on-empty="true" max-results-to-show="35"></auto-complete>
        </tags-input>

      <label for="files">File</label>
        <input type="file" ngf-select name="files" ng-model="newMoment.files" ngf-pattern="'image/*'" accept="image/*" ngf-max-size="5MB"/>
        <i ng-show="create_moment.files.$error.maxSize">File too large {{user.image.size / 1000000|number:1}}MB: max 5M</i><br>
      <label for="project">Project</label>
      <select ng-options="project.name for project in this_user.projects" class="" ng-model="newMoment.project" name="project" required>
        <option style="display:none" value="">Select a Project</option>
      </select>
      <input type="button" name="create" value="create" ng-click="submitMoment(newMoment)">
    </form>
  </div>
</div>



<div class="body" ng-class="{'active': bodyMoved}">
  <div class="inner-body" ui-view>
    <header class="mobile-header">
      <nav>
        <ul class="menu">
          <li ng-click="bodyMove()" id="menu"><div class=""></div><div class=""></div><div class=""></div></li>
          <li class="title">Interests</li>
          <li>
            <ul class="menu-icons">
              <li ng-click="showNotifications()"><img src="/static/img/buttons/btn_notifications.svg" class="icon" alt="" /></li>
              <li ng-click="showCreateMoment()"><img src="/static/img/buttons/btn_create.svg" class="icon" alt="" /></li>
            </ul>
          </li>
        </ul>
        <!-- <div class="filter">
          <img src="/static/img/buttons/btn_filter.svg" alt="" class="mini-icon" />
          <p>Filter:</p>
          <ul class="tags">
            <li>Marketing</li>
            <li>Food</li>
            <li>Design</li>
          </ul>
        </div> -->
      </nav>
    </header>
    <main class="main-feed">
      <div class="moment" ng-repeat="moment in interests.moments" ui-sref="feed.moment({username: moment.user.username, moment_id: moment._id})" ng-model="moments">
        <div class="project-name" ng-if="moment.project.name">
          <p>{{moment.project.name}}</p>
        </div>
        <div class="moment-text">
          <div class="user-image" ui-sref="feed.profile({username: moment.user.username})">
            <img src="{{moment.user.image}}" alt="" />
          </div>
          <div class="moment-info">
            <p class="user-name" ng-click="console.log(moment);" ui-sref="feed.profile({username: moment.user.username})">{{moment.user.name}} {{moment.user.surname}}</p>
            <p>{{moment.description}}</p>
            <p class="question">{{moment.question}}</p>
          </div>
        </div>
        <div class="moment-attachments" ng-if="moment.attachments.length > 0">
          <img  ng-repeat="attachment in moment.attachments" src="{{attachment}}" alt="" />
        </div>
        <ul class="moment-tags tags" ng-if="!!moment.tags.length">
          <li ng-repeat="tag in moment.tags">{{tag.name}}</li>
        </ul>
        <div class="feedback-count">
          <p>{{moment.feedback.length}} feedbacks</p>
        </div>
        <div class="moment-stats">
          <div class="hearts" ng-click="heart($index, moment._id); $event.stopPropagation();" ng-class="{liked: ((moment.hearts | contains:user_id) || moment.liked)}">
            <p>{{moment.hearts.length}}</p>
          </div>
          <div class="feedback-icon">
            <p>Add feedback</p>
          </div>
        </div>
      </div>
    </main>
  </div>

  </div>
</div>
