<header class="large-header">
  <nav>
    <ul class="menu">
      <li ui-sref="feed" id="menu"></li>
      <li class="title">Moments</li>
      <li>
        <ul class="menu-icons">
          <!-- <li ng-click="showNotifications()"><img src="/static/img/buttons/btn_notifications.svg" class="icon" alt=""></li> -->
          <li ng-click="showCreateMoment()"><img src="/static/img/buttons/btn_create.svg" class="icon" alt=""></li>
        </ul>
      </li>
    </ul>
  </nav>
</header>
<div class="super-hover" ng-class="{'active': momentSeen}" ng-click="momentSeen=false"></div>
<div class="super-hover" ng-class="{'active': proVisible}" ng-click="proVisible=false"></div>
<div class="supper-wrapper" id="supper-wrapper">
  <div class="side-bar">
    <div class="side-bar-content">
      <img src="/static/img/musement-logotype-white.svg" alt="" style="position: absolute; width: 110px; top: -30px; margin: 0 50px;"/>
      <div class="profile" ui-sref="feed.profile({username: username})" ng-click="bodyMove()">
        <img class="profile-photo" src="{{this_user.image}}" alt="" />
        <div class="profile-text">
          <p class="profile-name">{{this_user.name}} {{this_user.surname}}</p>
          <p class="profile-username">@{{username}}<span ng-if="user.pro">PRO</span></p>
        </div>
      </div>
      <!-- <div class="search">
        <input type="search" name="name" value="" placeholder="Search">
      </div> -->
      <div class="side-options">
        <h5>Moments</h5>
        <ul class="elements-list">
          <li ui-sref="feed" ng-click="bodyMove()" id="interests" class="pointer" ng-class="{'active': $root.selected == 0}"><img src="/static/img/buttons/btn_moments.svg" class="icon" alt="" />
            <p>Moments</p>
          </li>
          <!-- <li ui-sref="feed.connections" ng-click="bodyMove('feed.connections')" id="connections" class="pointer"><img src="/static/img/buttons/btn_connections.svg" class="icon" alt="" />Connections</li> -->
        </ul>
        <h5>Projects</h5>
        <ul class="elements-list">
          <li ng-if="this_user.pro" ng-repeat="project in this_user.projects" ui-sref="feed.project({'username': username, 'projectname': project.name})" ng-click="bodyMove(); $root.selected = $index+1" class="pointer" ng-class="{'active': $root.selected == $index+1}">
            <img src="{{project.logo}}" alt="" class="project-mini-image"/>
            {{project.name}}{{project.image}}
          </li>
          <li ng-if="this_user.pro" ui-sref="feed.new-project" ng-click="bodyMove()" class="pointer">
            <input type="button" name="name" class="green-button small" value="New Project">
          </li>
          <li ng-if="!this_user.pro" class="pro-text">Projects are only for pro users</li>
          <li ng-if="!this_user.pro" class="pro-button"><input type="button" value="Try PRO now" ng-click="bodyMove();showPro()"></li>
        </ul>
      </div>
      <div class="log-out" ng-click="logout()">
        <img src="/static/img/buttons/btn_log out.svg" class="icon" alt=""/>
        <p>Log Out</p>
      </div>
    </div>


  </div>

<!-- <div class="notifications" ng-class="{'active': notificationsSeen}">
  <ul class="menu">
    <li></li>
    <li ng-click="showNotifications()"><img src="/static/img/buttons/btn_cancel.svg" alt="" class="icon"/></li>
  </ul>
  <ul>
    <li>All</li>
    <li>Moment</li>
    <li>Feedback</li>
    <li>Projects</li>
  </ul>
  <div class="notifications-list">
    <div class="notification-item">
    </div>
  </div>
</div> -->
<div class="pro-wrapper" ng-class="{'active': proVisible}">
  <div class="pro-content">
    <div class="pro-header">
      <ul class="menu">
        <li><h2>PRO</h2></li>
        <li class="cancel" ng-click="showPro()">Cancel</li>
      </ul>
    </div>
    <div class="pro-body">
      <h3>Create and share projects</h3>
      <ul>
        <li>Create your own projects</li>
        <li>Add teammates and work together</li>
        <li>Upload moments of your projects</li>
        <li>Publish moments as projects and more (comming soon)</li>
      </ul>
      <p class="cta">
        Do you want a free PRO version trial for 3 months?
        <input type="button" name="name" value="Try PRO now" ng-click="bodyMove();showWelcome()">
      </p>
    </div>
  </div>
</div>

<div class="pro-wrapper" ng-class="{'active': welcomeVisible}">
  <div class="pro-content">
    <div class="pro-header">
      <ul class="menu">
        <li><h2 class="title">Welcome!</h2></li>
      </ul>
    </div>
    <div class="pro-body">
      <h3>{{this_user.name}} {{this_user.surname}}</h3>
      <h4>Enjoy your three free months as a PRO entrepreneur</h4>
      <img src="/static/img/pro-medal.svg" alt="" x/>
      <p class="cta">
        Start creating your first project
        <li ui-sref="feed.new-project" ng-click="tryPro();bodyMove()" class="pointer">
          <input type="button" name="name" class="green-button small" value="New Project">
        </li>
      </p>
      <a ng-click="bodyMove();tryPro()">or Just continue</a>
    </div>
  </div>
</div>


<div class="create-moment" ng-class="{'active': momentSeen}" ng-form="createMomentForm">
  <div class="form-content">
    <ul class="menu">
      <!-- <li></li> -->
      <li class="title">New Moment</li>
      <li ng-click="showCreateMoment()">Cancel</li>
    </ul>
    <form name="create_moment">
      <label for="description">Description</label>
      <textarea type="text" ng-model="newMoment.description" name="description" value="" placeholder="What were you working on? What was your progress?" required></textarea>
      <label for="question">Question</label>
      <input type="text" ng-model="newMoment.question" name="question" value="" placeholder="What do you need feedback on?">
      <label for="tags">Related Interests (Max. 3)</label>
        <tags-input ng-model="newMoment.tags" display-property="name" placeholder="Add Topic" replace-spaces-with-dashes="false" max-tags="3" min-length="0"  add-from-autocomplete-only="true">
          <auto-complete source="loadTags($query)" min-length="0" load-on-focus="true" load-on-empty="true" max-results-to-show="35" ng-show="newMoment.tags.length<=2"></auto-complete>
        </tags-input>

        <label>Files</label>
        <label for="file" class="file-label"></label>
        <input type="file" ngf-select name="files" ng-model="newMoment.files" ngf-pattern="'image/*'" accept="image/*" ngf-max-size="5MB" id="file"/>
        <i ng-show="create_moment.files.$error.maxSize">File too large {{user.image.size / 1000000|number:1}}MB: max 5M</i><br>
      <label for="project">Project</label>
      <select ng-options="project.name for project in this_user.projects" class="" ng-model="newMoment.project" name="project">
        <option value="" disabled="false">No Project</option>
      </select>
      <input type="button" name="create" value="Create" ng-click="submitMoment(newMoment)" ng-class="{'inactive': !createMomentForm.$valid}">
    </form>
  </div>
</div>

<div class="body" ng-class="{'active': bodyMoved}">
  <div class="inner-body" ui-view>
    <header class="mobile-header">
      <nav>
        <ul class="menu">
          <li ng-click="bodyMove()" id="menu"><div class=""></div><div class=""></div></li>
          <li class="title">Moments</li>
          <li>
            <ul class="menu-icons">
              <!-- <li ng-click="showNotifications()"><img src="/static/img/buttons/btn_notifications.svg" class="icon" alt="" /></li> -->
              <li ng-click="showCreateMoment()"><img src="/static/img/buttons/btn_create.svg" class="icon" alt="" /></li>
            </ul>
          </li>
        </ul>
        <!-- <div class="filter">
          <img src="/static/img/buttons/btn_filter.svg" alt="" class="mini-icon" />
          <p>Filter:</p>
          <ul class="tags">
            <li>Marketing</li>
            <li>Food</li>
            <li>Design</li>
          </ul>
        </div> -->
      </nav>
    </header>
    <main class="main-feed">
      <moment ng-repeat="moment in interests.moments"></moment>
    </main>
    <aside>
      <!-- <div class="slack-join">
        <h4>Join on Slack</h4>
        <p>Be part of the conversation with Musement</p>
        <input type="button" class="green small" value="Join">
      </div> -->
      <div class="top-projects">
        <p>Talk to Musement team</p>
        <p><a href="mailto:hello@musement.co">hello@musement.co</a></p>
      </div>
      <!-- <div class="tweets">
        <p>Tweets liked by Musement</p>

      </div> -->
      <!-- <div class="facebook">
        <p>Facebook page</p>
        <iframe src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2Fmusementco&width=146&layout=button_count&action=like&size=large&show_faces=true&share=true&height=46&appId=371723859883324" width="146" height="46" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
      </div> -->
      <div class="tweets">
        <p><a href="">© 2016 Musement</a>
          <!-- <a href="">Condiciones</a> <a href="">Privacidad</a> <a href="">Cookies</a> <a href="">Feedback</a> -->
        </p>
      </div>
    </aside>
  </div>

  </div>
</div>
