$lightGray: #f1f2f2;
$gray: #bdbdbd;
$yellow: #ffc06c;
$green: #20ad8a;
$darkGreen: #3f4d55;
$darkBlue: #3b4d57;
$yellow: rgb(247,193,108);

body.app {
  overflow: hidden;
  z-index: 100;
  width: 100%;
  height: 100%;
}
.supper-wrapper {
  display: flex;
  overflow: hidden;
  position: relative;
  width: 100%;
}
.user-profile {
  width: 100%;
  margin-bottom: 15px;
  border-radius: 5px;
  background: #fff;
  padding: 20px;
  text-align: center;
  .user-image {
    margin: 0 auto;
    width: 80px;
    height: 80px;
  }
  .user-info {
    margin-top: 15px;
    font-size: 0.8rem;
    .name {
      font-size: 0.9rem;
    }
    .username {
      margin-bottom: 5px;
      color: $gray;
    }
    .location {
      margin-top: 5px;
    }
    .work {
      margin-top: 10px;
      font-weight: 800;
      font-size: 0.75rem;
    }
    .work.not-available {
      color: $yellow;
    }
  }
}
.project {
  text-align: left;
  .user-info {
    margin-top: 0;
  }
}
.members {
  display: flex;
  width: 100%;
  overflow-x: scroll;
  align-items: center;
  margin-top: 10px;
  img {
    width: 60px;
    height: 60px;
  }
  .member {
    margin-right: 20px;
    margin-bottom: 10px;
    flex-shrink: 0;
    text-align: center;
    max-width: 200px;
  }
}
.body {
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  .inner-body {
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
}
.early-access {
  position: fixed;
  color: #fff;
  background: $yellow;
  right: -150px;
  bottom: 20px;
  padding: 5px 150px;
  z-index: 100;
  transform: rotate(-35deg);
  font-weight: 600;
}
.project {
  padding: 20px;
  input[type="text"], textarea {
    width: 100%;
    border: 1px solid $gray;
    border-radius: 5px;
  }
  .project-type .type:first-child input[type="radio"] {
    border-radius: 5px 0 0 5px;
  }
  .project-type .type:last-child input[type="radio"] {
    border-radius: 0 5px 5px 0;
  }
  .project-color {
    margin: 20px 0;
    input[type="radio"] {
      width: 40px;
      height: 40px;
      border-radius: 5px;
      background: red;
      position: relative;
    }
    input[type="radio"]:checked::before {
      display: block;
      position: absolute;
      content: '';
      width: 30px;
      height: 30px;
      background: #fff;
    }
  }
  .project-type {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    .type {
      width: 150px;
      height: 30px;
      position: relative;
    }
    input[type="radio"] {
      border: 1px solid $gray;
      width: 100%;
      height: 100%;
      background: rgb(255, 255, 255);
      transition: 0.5s;
    }
    input[type="radio"]:checked {
      background: $gray;
    }
    input[type="radio"]:checked + label {
      color: #fff;
    }
    label {
      padding-top: 4px;
      color: $gray;
      text-align: center;
      right: 0;
      left: 0;
      bottom: 0;
      top: 0;
      width: 100%;
      position: absolute;
    }
  }
}
.side-bar {
  z-index: 0;
  background: $darkBlue;
  position: absolute;
  width: 250px;
  height: 100vh;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  color: #fff;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  .search input{
    background: rgba(0, 0, 0, .5);
    color: #fff;
    font-size: 1rem;
    padding: 2px 4px;
    outline: none;
  }
  .side-bar-content {
    width: 100%;
    overflow-y: scroll;
    padding: 20px;
    -webkit-overflow-scrolling: touch;

  }
}

.filter {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  p {
    margin-right: 10px;
    color: rgb(159, 159, 159);
    font-size: .9rem;
  }
}
.mini-icon {
  height: 13px;
}
.icon {
  height: 19px;
}

.menu {
  width: 100%;
  color: rgb(59, 77, 87);
  display: flex;
  justify-content: space-between;
  align-items: center;
  li {
    height: 25px;
  }
  .title {
    font-weight: 600;
    font-size: 1.1rem;
    text-align: center;
  }
  .menu-icons {
    display: flex;
    align-items: center;
    .icon {
      margin-left: 10px;
    }
  }
  .menu-icons li:first-child img{
    margin-left: 0;
  }
}
.app nav {
  background: #fff;
  display: flex;
  flex-wrap: wrap;
  border-bottom: 1px solid $lightGray;
  padding-bottom: 10px;
  .filter {
    margin-top: 10px;
    color: rgb(59, 77, 87);
  }
}
ul.menu ul li {
  display: inline-block;
}
.menu li#menu {
  width: 48px;
  cursor: pointer;
  div {
    width: 25px;
    margin-bottom: 5px;
    height: 3px;
    background: rgb(59, 77, 87);
    border-radius: 4px;
  }
  div:last-child {
    margin-bottom: 0;
  }
}
.body {
  z-index: 1;
  position: relative;
  background: #FFF;
  color: #666;
  transition: .3s;
  min-height: 100vh;
  overflow-x: hidden;
  height: 100%;
}
.body.active {
  transform: translateX(250px);
  filter: grayscale(100%);
}
.user-image {
  background: rgb(207, 207, 207);
  border-radius: 50%;
}
.main-feed {
  padding: 10px 16px;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #F5F5F5;
  .moment {
    border-radius: 5px;
    width: 100%;
    margin-bottom: 25px;
    background: rgb(255, 255, 255);
    max-width: 500px;
    font-size: 0.9rem;
    .moment-text {
      display: flex;
      flex-direction: row;
      padding: 15px;
      .user-image {
        width: 50px;
        height: 50px;
        flex-shrink: 0;
        margin-right: 10px;
      }
      .moment-info {
        .user-name {
          font-weight: 600;
          margin-bottom: 5px;
        }
        .question {
          background: url('/static/img/buttons/question.svg') no-repeat left 2px;
          background-size: 15px;
          margin-top: 10px;
          padding-left: 20px;
          font-weight: 600;
          color: red;
        }
      }
    }
    .moment-image {
      background: rgb(203, 203, 203);
      height: 150px;
    }
    .moment-tags {
      padding: 10px 15px;
      li {
        border: 1px solid $darkBlue;
        background: #fff;
        color: $darkBlue;
        padding: 0px 5px;
        border-radius: 5px;
        display: inline-block;
      }
    }
    .feedback-count {
      color: $gray;
      font-weight: 600;
      text-align: right;
      margin: 0 15px;
      border-bottom: 1px solid $gray;
    }
    .moment-stats {
      display: flex;
      margin: 15px 0;
      p {
        font-weight: 600;
        width: auto;
        padding-left: 25px;
        display: inline-block;
      }
      .hearts {
        p {
          background: url('/static/img/buttons/heart.svg') no-repeat left center;
          background-size: 17px;
        }
        text-align: center;
        width: 35%;
        color: red;
      }
      .feedback-icon {
        p {
          background: url('/static/img/buttons/feedback.svg') no-repeat left center;
          background-size: 17px;
        }
        text-align: center;
        width: 65%;
        color: $green;
      }
    }
  }
}
.profile {
  display: flex;
  margin-bottom: 10px;
  .profile-photo {
    width: 43px;
    height: 43px;
    margin-right: 10px;
  }
  .profile-name {
    overflow: hidden;
    display: inline-block;
    max-height: 21px;
  }
}
.elements-list {
  margin: 0 -20px;
  li {
    font-size: 19px;
    img {
      height: 19px;
      margin-right: 10px;
    }
  }
}
.profile-text {
  display: flex;
  flex-direction: column;
}
.search input {
  margin: 7px 0 3px;
  border-radius: 5px;
  width: 210px;
}
.side-options {
  h5 {
    font-size: .8rem;
    font-weight: 600;
    margin: 15px 0 5px;
  }
  ul li {
    padding: 10px 18px;
    padding-left: 28px;
  }
  .general li {
    padding-left: 0;
  }
  .active {
    background: #fff;
    color: rgb(59, 77, 87);
  }
  a {
    color: #Fff;
  }
}
.log-out {
  display: flex;
  justify-content: center;
  font-weight: 600;
  color: rgb(102, 133, 150);
  text-align: center;
  margin: 10px 0;
  color: $lightGray;
  img {
    margin-right: 10px;
  }
}
ul.tags li {
  color: #fff;
  background: red;
  font-size: .75rem;
  border-radius: 5px;
  padding: 1px 4px;
  display: inline-block;
}

.notifications, .create-moment, .moment-details {
  position: fixed;
  -webkit-overflow-scrolling: touch;
  width: 100%;
  height: 100vh;
  background: $lightGray;
  z-index: 5;
  padding: 16px;
  transform: translateY(-100vh);
  transition: ease-in-out 0.3s;
}
.moment-details {
  transform: translateX(100%);
  padding: 0;
  .comment {
    position: fixed;
    display: flex;
    padding: 16px;
    left: 0;
    right: 0;
    bottom: 0;
    input[type="text"] {
      flex-grow: 1;
      margin-right: 10px;
    }
    input[type="button"] {
      padding: 10px 12px;
    }
  }
}
.notifications.active, .create-moment.active {
  transform: translateY(0);
}
.moment-details.active {
  transform: translateX(0);
}
.create-moment {
  input, textarea {
    width: 100%;
    display: block;
    margin-bottom: 15px;
  }
  label {
    display: block;
    font-weight: 600;
    margin-bottom: 5px;
    margin-left: 10px;
  }
}

@media (min-width: 600px) {
  .menu .menu-icons .icon {
    margin-left: 15px;
  }
  .menu li#menu {
    width: 105px;
    height: 18px;
    background: url('/static/img/musement-logotype.svg');
    background-size: cover;
    div {
      display: none;
    }
  }
  .icon {
    height: 23px;
  }
  body.app {
    overflow: auto;
  }
  body.app nav {
    padding: 26px;
    padding-bottom: 16px;
  }
  body.ng-scope.app {
    display: flex;
  }
  .body {
    flex-grow: 1;
  }
  .body.active {
    transform: translate(0);
    filter: none;
  }
  .side-bar {
    position: relative;
  }
}
