@font-face {
  font-family: helvetica;
    src: url('../fonts/Helvetica.otf');
}
@font-face {
  font-family: ruler;
    src: url('../fonts/Ruler.ttf');
}
@font-face {
  font-family: ruler-light;
    src: url('../fonts/Ruler Light.ttf');
}

/*Login/sign up font icon*/
@font-face {
  font-family: 'moments';
  src:    url('../fonts/moments.eot?25qaq1');
  src:    url('../fonts/moments.eot?25qaq1#iefix') format('embedded-opentype'),
      url('../fonts/moments.ttf?25qaq1') format('truetype'),
      url('../fonts/moments.woff?25qaq1') format('woff'),
      url('../fonts/moments.svg?25qaq1#moments') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'moments' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    color: #FF543F;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-heart-17:before {
    content: "\e912";
}
.icon-comillasCierran:before {
    content: "\e90e";
}
.icon-goLeft:before {
    content: "\e90f";
}
.icon-trashIcon:before {
    content: "\e910";
}
.icon-gotRight:before {
    content: "\e911";
}
.icon-menu_IconOPEN:before {
    margin-left: 2vh;
    content: "\e90c";
}
.icon-profilePhotoIcon:before {
    content: "\e90b";
    position: absolute;
    top: 9vh;
    left: 6vh;
}
.icon-closeIcon:before {
  margin-left: 2vh;
  content: "\e90d";
}
.icon-Comillas-10:before {
    content: "\e90a";
    color: rgba(255, 255, 255, 0.71) !important;
    padding-right: 1vh;
}
.icon-email-10:before {
    content: "\e900";
    padding-left: 0.5rem;
    padding-right: 0.7rem;
}
.icon-passwordIcon:before {
    content: "\e901";
    padding-left: 1rem;
    padding-right: 0.5rem;
}
.icon-usernameIcon:before {
    content: "\e902";
    padding-left: 1rem;
    padding-right: 0.5rem;
}
.icon-chat_Icons:before {
    content: "\e903";
    color: #1FAC89 !important;
    margin-left: 0.6rem;
    font-size: 1.3rem;
}
.icon-conexiones_Icon:before {
    content: "\e904";
}
.icon-done_Icon:before {
    content: "\e905";
}
.icon-img_Icon:before {
    content: "\e906";
}
.icon-moments_Icon:before {
    content: "\e907";
}
.icon-profile_Icons:before {
    content: "\e908";
}
.icon-upload_Icon:before {
    content: "\e909";
}
