$green: #54ae8a;

// @import 'https://fonts.googleapis.com/css?family=Open+Sans:400,700';

* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  cursor: pointer;
  // color: rgb(45, 60, 68);
}
// a:visited {
//   color: rgb(45, 60, 68);
// }
body {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, sans-serif;
  color: rgb(63,77,85);
  font-weight: 300;
}
.anchors {
  text-align: right;
  width: 100%;
  // a {
  //   padding-left: 2rem;
  // }
  // a:visited {
  //   color: rgb(45, 60, 68);
  // }
}
nav {
  z-index: 3;
  display: flex;
  width: 100%;
  align-items: center;
  flex-direction: row;
  padding: 16px;
  color: rgb(255, 255, 255);
    ul li {
    display: inline-block;
  }
  .logotype {
    width: 90px;
  }
}
.hero {
  background: url('/static/img/hero.svg') repeat-x center bottom;
  background-size: 100vh;
  .logo {
    max-width: 150px;
  }
  .content {
    display: flex;
    flex-direction: column;
    color: rgb(45, 60, 68);
    align-items: center;
    height: 100vh;
    text-align: center;
    position: relative;
  }
  h2 {
    font-size: 1.5rem;
    font-weight: 200;
  }
  h4 {
    font-size: 1rem;
    font-weight: 300;
  }
  p {
    font-weight: 300;
  }
  .signup {
    margin-top: 20px;
    position: relative;
  }
}

.parallax-container, .hero {
  height: 100vh;
}
.meetup-min {
  width: 60px;
}
.event-details {
  margin: 30px 0;
}
.content {
  .event-detail {
    color: rgb(85, 175, 139);
    font-weight: 600;
    font-size: 0.9rem;
  }
  .section:last-child {
    margin-bottom: 0;
  }
  h2 span {
    font-weight: 500;
    font-size: 2rem;
  }
}
h1, h2 {
  font-weight: 400;
  color: rgb(45, 60, 68)
}
.two-column {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  .column {
    display: inline-block;
    margin: 10px;
  }
  img {
    max-width: 250px;
    margin: 30px 0;
    margin-bottom: 30px;
  }
}
.three-column {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  .column {
    display: inline-block;
    margin: 20px 10%;
    width: 100%
  }
  img {
    max-width: 200px;
    margin: 30px 0;
    margin-bottom: 30px;
  }
}
.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 50px;
  p {
    font-weight: 300;
    font-size: 1.1rem;
    line-height: 1.7rem;
  }
  h2 {
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 1.5rem;
    line-height: 1.7rem;
  }
}
.space {
  margin: 2rem 0;
}
.develop-your-project .people {
  max-width: 575px;
  margin: 50px 0;
}
.input-elements {
  padding: 10px 0;
}
input[type="text"], input[type="email"], input[type="password"], textarea {
  outline: none;
  font-size: 1rem;
  border-radius: 5px;
  padding: 3px 20px 3px 10px;
}
.input-elements input[type="email"] {
  background: rgba(0, 0, 0, .3);
  color: rgb(255, 255, 255);
  width: 200px;
}
input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
input[type="button"], input[type="submit"] {
  cursor: pointer;
  background: rgb(247, 193, 108);
  font-size: 1rem;
  padding: 0.6rem 3rem;
  color: rgb(255, 255, 255);
  border-radius: 3px;
}
input[type="button"].green-button, input[type="submit"].green-button {
  background: $green;
}
input[type="button"].small {
  padding: 5px 7px;
  display: block;
  width: 100%;
}
.pointer {
  cursor: pointer;
}
.coworking input[type="button"] {
  cursor: pointer;
  background: rgb(247, 193, 108);
  font-size: 1rem;
  padding: 0.6rem 3rem;
  color: rgb(255, 255, 255);
  border-radius: 3px;
  display: block;
  margin-top: 1rem;
}
.input-elements {
  input[type="button"], input[type="submit"]  {
    padding: 3px 10px;
    margin-left: -20px;
    border-radius: 8px;
    display: inline-block;
  }
}
.section p {
  padding: 0 5%;
}
.thanks-email {
  z-index: 100;
  background: rgb(247, 193, 108);
  width: 100%;
  padding: 0;
  position: fixed;
  top:  0;
  transform: translateY(-100px);
  color: #fff;
  text-align: center;
  font-weight: 600;
  font-size: 1rem;
  transition: .5s;
}
.thanks-email.visible {
  transform: translateY(0px);
  display: block;
  height: auto;
  padding: 20px 30px;
}
.hero .logo {
  margin: 20px 0;
}
.hero .content {
  padding: 0 10%;
}
.content {
  padding: 50px 3%;
}
.content-light {
  padding: 2rem 10%;
}
.min-slack-logo{
  width: 150px;
}
.learn-more {
  position: absolute;
  top: -46px;
  width: 100%;
  right: 50%;
  left: 0;
  right: calc(50% - 39px);
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  .arrow {
    width: 35px;
  }
}
.section.blue{
  background: #31586F;
  border-radius: 20px;
  color: white;
  padding: 30px 0;
}
.blue h2{
  color: white;
  margin-bottom: 1.5rem;
}
.section p.subtitle{
  font-size: 1.3rem;
  font-weight: bold;
  margin-bottom: 0.2rem;
  margin-top: 1rem;
}
.yellow {
  text-align: center;
  font-weight: 300;
  background: rgb(247, 192, 108) url('/static/img/slack-background.svg') center bottom repeat-x;
  color: rgb(255, 255, 255);
}
.yellow h2, .call-to-action h2 {
  color: rgb(255, 255, 255);
  margin-bottom: 5px;
  font-weight: 500;
}
.call-to-action {
  padding: 75px 0;
  text-align: center;
  font-weight: 300;
  background: rgb(59, 78, 87) url('/static/img/cta-background.svg') center bottom repeat-x;
  color: rgb(255, 255, 255);
}
.grow{
  text-align: center;
  background: #FF695B;
}
.grow h2{
  font-size: 1.5rem;
  color: white;
  font-weight: bold;
}
.content.slack {
  display: flex;
  background-size: 100vh;
  text-align: center;
  margin-bottom: 4rem;
  padding-bottom: 0;
}
.slack, .call-to-action {
  flex-wrap: wrap;
  justify-content: center;
}
.slack .title img{
  max-width: 100%;
  width: 150px;
}
.slack img, .call-to-action img {
  max-width: 100%;
  width: 100%;
  height: 100%;
}
.slack input[type="button"], .yellow input[type="button"] {
  background: rgb(84, 174, 138);
}
.slack .left-content {
  margin: 0 10%;
  flex-grow: 2;
}
.slack .left-content .title{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}
.slack .left-content .title h2 {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, sans-serif;
  padding: 1rem;
  font-size: 2rem;
}
.yellow .left-content h2 {
  color: #fff;
}
.slack .left-content p {
  font-size: 1.2rem;
  line-height: 1.7rem;
  font-weight: bold;
}
.coworking .right-image {
  flex-grow: 1;
  min-width: 250px;
  text-align: center;
}
.coworking .right-image img {
  width: 100%;
  margin: 30px 0;
}

.coworking {
  display: flex;
  background-size: 100vh;
  text-align: left;
}
.coworking, .call-to-action {
  flex-wrap: wrap;
  justify-content: center;
}
.coworking img, .call-to-action img {
  max-width: 225px;
}
.coworking .left-content {
  margin: 0 10%;
  flex-grow: 2;
}
.coworking .left-content h2 {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, sans-serif;
  padding: 1rem 0;
  font-size: 2rem;
}
.yellow .left-content h2 {
  color: #fff;
}
.slack .right-image {
  flex-grow: 1;
  min-width: 250px;
  text-align: center;
}
.slack .right-image img {
  width: 100%;
  margin: 30px 0;
}

footer {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  font-weight: 300;
  padding: 75px 0;
  .musement-logo {
    width: 200px;
    margin-bottom: 30px;
  }
  p {
    color: #3F4D55;
    font-size: .9rem;
    margin-bottom: 10px;
  }
  .follow {
    ul {
      display: flex;
      justify-content: center;
      li {
        margin: 0 10px;
        width: 30px;
        height: 30px;
        border: 1px solid #3F4D55;
        border-radius: 50%;
        cursor: pointer;
      }
    }
    #slack {
      width: 90px;
      border-radius: 15px;
      position: relative;
      margin-left: 40px;
      img {
        width: 90px;
      }
    }
    #slack::before {
      position: absolute;
      left: 0;
      margin-left: -27px;
      margin-top: 4px;
      content: '';
      width: 1px;
      height: 20px;
      background: #3F4D55;
    }
  }
}

.content {
  position: relative;
}
.slack .logo {
  width: 88px;
  content:url("../img/slack.svg");
}
.follow {
  .twitter .logo {
    content:url("../img/twitter.svg");
  }
  .twitter:hover {
    background: #55acee;
  }
  .twitter .logo:hover {
    content:url("../img/twitter-white.svg");
  }
  .facebook .logo {
    content:url("../img/facebook.svg");
  }
  .facebook:hover {
    background: #3b5998;
  }
  .facebook .logo:hover {
    content:url("../img/facebook-white.svg");
  }
  .snapchat .logo {
    content:url("../img/snapchat.svg");
  }
  .snapchat .logo:hover {
    content:url("../img/snapchat-white.svg");
  }
  .snapchat:hover {
    background: #F7EB20;
  }
  .slack:hover {
    background: #3e313c;
  }
  .slack .logo:hover {
    content:url("../img/slack-white.svg");
  }
}

.two-column .column {
  margin: 20px 10%;
}

.dark-input::-webkit-input-placeholder { color: rgba(255, 255, 255, 0.8); }
.dark-input:-moz-placeholder { color: rgba(255, 255, 255, 0.8); }
.dark-input::-moz-placeholder { color: rgba(255, 255, 255, 0.8); }
.dark-input:-ms-input-placeholder { color: rgba(255, 255, 255, 0.8); }

/*iPhone 5-like sizes*/
@media (max-width: 350px) {
  .hero {
    h2 {
      font-size: 1.25rem;
    }
    h4 {
      display: none;
    }
    .signup {
      margin-top: 30px;
    }
  }
  nav ul li {
    font-size: .9rem;
  }
  nav ul.anchors li a {
    padding-left: 1rem;
  }
}
@media (min-width: 600px) {
  .two-column .column {
    margin: 50px 10%;
  }
  .hero .logo {
    max-width: none;
  }
  .content {
    padding: 100px 3%;
  }
  .section .column p {
    padding: 0;
  }
  .section {
  margin-bottom: 75px;
  }
  .input-elements input[type="email"] {
    width: auto;
  }
  nav .logotype {
    width: 100px;
  }
  /*.hero h2 {
    font-size: 2.5rem;
  }*/
  .hero h4 {
    font-size: 1.1rem;
  }
  .hero .logo {
    width: 175px;
  }
  .hero .logo {
    margin: 30px 0;
  }
  .hero .signup {
    margin-top: 40px;
  }
  nav ul li {
    font-size: 1.2rem;
  }
  .slack-logo {
    width: 300px;
  }
  .min-slack-logo{
    width: 150px;
  }
  footer .follow ul li {
    margin: 0 20px;
  }
}
@media (min-width: 400px) and (orientation:portrait) {
  .hero .logo {
    margin: 30px 0;
    width: 225px;
  }
  .hero .signup {
    margin-top: 75px;
  }
}
@media (min-width: 800px) {
  .section h2 {
    font-size: 2rem;
  }
  .content h2 span {
    font-size: 2.5rem;
  }
  nav {
    padding: 2rem 5rem;
  }
  .three-column .column {
    margin: 10px;
    width: 33%;
    margin-bottom: 3rem;
  }
  .coworking .left-content {
    width: 20%;
  }
  .section p {
    padding: 0 20%;
  }
  .two-column {
    flex-wrap: nowrap;
  }
  .three-column {
    flex-wrap: nowrap;
  }
  .section p.subtitle{
    font-size: 1.5rem;
    font-weight: normal;
  }
  .grow h2{
    font-size: 2rem;
    }
  .slack, .call-to-action {
    /*flex-wrap: nowrap;*/
  }
  .slack img, .call-to-action img {
    max-width: 50%;
    width: 50%;
    height: 100%;
  }
  .slack .left-content p {
     margin: 0 4rem;
   }
   .slack .left-content .title{
     flex-direction: row;
   }
   .slack .left-content .title h2{
     font-size: 2.1rem;
   }
   .min-slack-logo{
     width: 120px;
   }
   .bottom-image{
     bottom: 0;
   }
   .bottom-image img{
     width: 100%;
     max-width: 100%;
   }
  /*.hero h2 {
    font-size: 2.5rem;
  }*/
  .hero h4 {
    font-size: 1.3rem;
  }
  .hero .logo {
    margin: 30px 0;
  }
  .hero .signup {
    margin-top: 60px;
  }
  .hero .logo {
    width: 175px;
  }
}
@media (min-width: 1000px) {
  .hero h2 {
    font-size: 2rem;
  }
  .section {
    max-width: 1200px;
    margin: 75px auto;
  }
}
@media (min-width: 1500px) {
  .content {
    /*padding: 50px 10%;*/
  }
  nav {
    padding: 1.5rem 10rem;
  }
  .hero .logo {
    margin: 60px 0;
    width: 225px;
  }
  .hero h2 {
    font-size: 2.5rem;
    margin-bottom: 10px;
  }
  .hero .logo {
    margin-top: 80px;
  }
  .slack .left-content p {
     margin: 0 8rem;
   }
  .slack img, .call-to-action img {
    max-width: 40%;
    width: 40%;
    height: 100%;
  }
}
